.delivery{
  height: 235px;
  background-color: #212121;
}
.delivery>h2{
  font-weight: 400;
  font-size: 30px;
  color: white;
  padding-top: 70px;
}
.delivery>p{
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: white;
  margin-top: 23px;
}