html{
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    font-size: 14px;
}
body{
    margin: 0 auto;
}
.wrapper{
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
a{
    text-decoration: none;
    color: black;
}

